<main class="fixed inset-0 flex  items-center bg-black/50 justify-center overflow-hidden overscroll-contain transition-all duration-200 ease-in-out">
    <div class=" w-fit h-fit bg-white rounded-lg  p-5 ">
        <div class=" relative ">
            <h1 class="font-semibold text-xl text-center">Add New Book</h1>
            <div class="absolute top-0 right-0 h-fit text-red-500"  >
                <svg y="0" xmlns="http://www.w3.org/2000/svg" x="0" width="100" viewBox="0 0 100 100"
                (click)="onClickCancel()"
                    preserveAspectRatio="xMidYMid meet" height="100" class="w-7 h-7 fill-current">
                    <path fill-rule="evenodd"
                        d="M50,87.4A37.4,37.4,0,1,0,12.6,50,37.3,37.3,0,0,0,50,87.4ZM44,37.3A4.7,4.7,0,0,0,37.3,44l6.1,6-6.1,6A4.7,4.7,0,0,0,44,62.7l6-6.1,6,6.1A4.7,4.7,0,0,0,62.7,56l-6.1-6,6.1-6A4.7,4.7,0,0,0,56,37.3l-6,6.1Z">
                    </path>
                </svg>
            </div>
        </div>

        <div class=" flex justify-between my-5">
            <label for="bookname" class="text-lg">Name</label>
            <input   type="text" name="bookname" [(ngModel)]="name" class="border-2 mx-3 w-60 outline-none py-1 pl-2 border-gray-600 rounded-md" placeholder="Name">
        </div>
        <div class=" flex justify-between my-5">
            <label for="bookdesc" class="text-lg">Description</label>
            <textarea name="bookdesc" cols="30" [(ngModel)]="description" rows="5" class="border-2 mx-3 w-60 outline-none py-1 pl-2 border-gray-600 rounded-md" ></textarea>
        </div>
        <div class=" flex justify-between my-5">
            <label for="bookdate" class="text-lg">Published Date</label>
            <input   type="date" name="bookdate" [(ngModel)]="publishDate"  class="border-2 mx-3 w-60 outline-none py-1 pl-2 border-gray-600 rounded-md" placeholder="Name">
        </div>
        <div class=" flex justify-between my-5">
            <label for="bookprice" class="text-lg">Price</label>
            <input type="number" name="bookprice" [(ngModel)]="price" class="border-2 mx-3 w-60 outline-none py-1 pl-2 border-gray-600 rounded-md" placeholder="Name">
        </div>
        <button class="bg-gray-900 py-2 px-4 rounded-md text-white" (click)="onSubmitNewBook()" >ADD</button>
    </div>
</main>
